body {
    font-family: Arial, Helvetica, sans-serif;
}

.box {
    width: 100px;
    height: 100px;
    display: inline-block;
    color: white;
    background-color: blue;
}

.box-block {
    height: 50px;
    display: block;
    color: white;
    background-color: rgb(89, 137, 209);
    margin-bottom: 5px;
}

.bottom {
    border: 1px solid red;
}

.example-container {
    border: 1px solid black;
    padding: 20px;
    background-color: beige;
    background-clip: content-box;
}

#example-relative .box:nth-child(even) {
    background-color: green;
    position: relative;
    left: 10px;
    top: 50px;
}

#example-absolute {
    position: relative;
}

#example-absolute .box:nth-child(3) {
    position: absolute;
    background-color: green;
    left: 0;
    top: 0;
}

#example-fixed {
    position: fixed;
    right: 0;
    top: 0;
    filter: drop-shadow(16px 16px 20px red);
}

#example-fixed .box:nth-child(1) {
    position: fixed;
    right: 0;
    bottom: 0;
}

#example-sticky {
    height: 300px;
    overflow: auto;
}
#example-sticky .sticky {
    height: 100px;
    background-color: rgb(49, 175, 116);
    color: white;
    position: sticky;
    top: 0;
}